<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Wine</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="script.js"></script>
</head>
<body>
<header>
  <div><a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/cave.png') }}"></a></div>
</header>
<div id="accueil">

  {% if not est_connecte %}
  <div><h1> Bienvenue Chez Wine !</h1></div>
  <div><p>Vous pouvez maintenant vous inscrire ou bien vous connecter directement !</p></div>
  <div class="lien"><a href="{{ url_for('inscription') }}">S'inscrire</a><br><br></div>
  <div class="lien"><a href="{{ url_for('connexion') }}">Se connecter</a><br><br></div>
  {% endif %}
  {% if est_connecte %}
  <div><h1> Bienvenue {{ nom_utilisateur }} !</h1></div>
  <div><p>Vous pouvez maintenant créer votre cave ou bien y accéder directement !</p></div>
  <div class="lien"><a href="{{ url_for('cave') }}">Créer / Entrer dans la cave</a><br><br></div>
  <div class="lien"><a href="{{ url_for('mes_notes') }}">Voir les notes de la communauté</a><br><br></div>
  {% endif %}

</div>
<div id="bouteilles">
  <h2>Nos bouteilles</h2>
  {% for b in bouteilles %}
    <div class="bouteille">
      <img src="{{ url_for('static', filename='images/' + b['photo'].split('\\')[-1]) }}" alt="{{ b['nom'] }}" width="200">
      <h3>{{ b['nom'] }} ({{ b['annee'] }})</h3> <p><strong>Domaine :</strong> {{ b['domaine_viticole'] }}</p>
      <p><strong>Type :</strong> {{ b['type_bouteilles'] }}</p>
      <p><strong>Région :</strong> {{ b['region'] }}</p>
      <p><strong>Prix :</strong> {{ b['prix'] }} €</p>
      <p class="note-moyenne">Note Moyenne:
        {% if b['note_moyenne'] is not none %}
          {{ b['note_moyenne'] }}/20
        {% else %}
          N/A
        {% endif %}
      </p>
    </div>
  {% endfor %}
</div>



<footer>
  <p>Cave a vin & Co</p>
</footer>
</body>
</html>